*,
*::before,
*::after {
  box-sizing: border-box;
}

.container-fluid{
  background-color:yellow;
  height:100vh;
  display:flex;
  align-content:center;
}

main{
  margin:auto;
  height:50vh;
  background-color:white;
}

.btn{
  background-color:red;
  font-size:22px;
  color:white;
}